#!/bin/bash
# description: prometheus node exporter service

USER=root
DAEMON='node_exporter --web.listen-address=:60616'
PIDFILE=/var/run/node_exporter.pid

start() {
  if [ -f $PIDFILE ] && kill -0 $(cat $PIDFILE); then
    echo 'node_exporter already is running' >&2
    return 1
  fi
  local CMD="$DAEMON &"
  pid=$(ps -ef | grep $DAEMON | grep -v grep | awk '{print $2}')
  echo $pid > $PIDFILE

  echo 'Starting node_exporter…' >&2
  su -s /bin/sh -c "$CMD" $USER
  echo 'node_exporter started' >&2
}

stop() {
  echo 'Stopping node_exporter…' >&2
  kill -15 $(cat "$PIDFILE") && rm -f "$PIDFILE"
  echo 'Service node_exporter stopped' >&2
}

status() {
  if [ -f $PIDFILE ] && kill -0 $(cat $PIDFILE); then
    echo 'node_exporter already is running' >&2
  else
    echo 'node_exporter is not running' >&2
  fi
}

case "$1" in
    start)
       start
       ;;
    stop)
       stop
       ;;
    status)
       status
       ;;
  restart)
       stop
       sleep 2
       start
       ;;
    *)
       echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0